html,body {
	margin: 0;
	padding: 0;
}
.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
    background:rgb(37, 37, 37);
    top: 0;
}

.home{
    display: flex;
    width:280px;
    padding-left: 5%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline; 
    margin: 16px 0 23px 0;
    text-underline-position:under;
}

.menu_bar {
    flex:1;
    width:max-content;
    color: rgb(255, 255, 255);
}

.menu_bar ul {
    float: right;
    margin: 20px 0 0 0;
    padding-right: 7%;
    list-style: none;
}
  
.menu_bar li {
    display: inline-block;
    font-size: 16px;
    opacity : 0.7;
    font-weight: 400;
    margin-right: 24px;
}

.menu_bar li:hover {
    transition: 0.2s ease-out;
    opacity : 1;
    filter: brightness(1.9);
}

  
.menu_bar li:last-child {
    margin-right: 0;
}



