<!DOCTYPE html>
<html>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+KR&display=swap'); 
        @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+KR&family=Suez+One&display=swap');
    </style>

    <head>
        <link rel="stylesheet" href="../static/css/menu.css"/><!-- 'Lilita One', cursive;   'Suez One', serif;-->
        <link rel="stylesheet" href="../static/css/aboutMe.css"/>
        <title>yujin's Brain</title>
    </head>
    <body> <!-- style="background-image: url('/resources/1.jpg'); background-repeat:no-repeat; background-size: cover;" -->

        <div class="menu">
            <div class="home">About Me</div>
            <div class="menu_bar">
                <ul>
                <li>
                    <a class="a-menu" onClick="location.href='/'">home</a>
                </li>
                <li style="opacity : 1;filter: brightness(1.9); ">
                    <a class="a-menu" onClick="location.href='/aboutMe'">About Me</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/Resume'">Resume</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/Portfolio'">Portfolio</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/Contact'">Contact</a>
                </li>
                </ul>
            </div>
        </div>

        <div class="aboutMe">
            <div class="img">  </div>
            <div class="text"> 
                <p> ~~~~하는 신입 개발자 이유진입니다.</p>
                <!-- 어렵거나 힘든 일이여도 끝까지 해내는 신입 개발자 이유진입니다. -->
                <p>
                    ~~~~~~~이런 개발자 될거다.<br>
                    ~~~~~~~~~~~이런 사람 되겠다.<br>
                    ~~~~~~이러겠다<br>
                    <!-- 
                    끊임없이 노력하여 성공하는 개발자가 되고 싶습니다.<br>
                    어느 곳에 가서도 천천히 스며드는 사람이 되겠습니다.<br>
                    중간에 포기하지 않고 끝까지 같이 갈 수 있는 개발자가 되겠습니다. 
                    -->
                </p>
                <br>
                <div class="text-me">
                    <ul>
                        <li><i class="icofont-rounded-right"></i> <strong>Full Name :</strong>  이 유 진</li><br>
                        <li><i class="icofont-rounded-right"></i> <strong>Phone :</strong>  010-0000-0000</li><br>
                        <li><i class="icofont-rounded-right"></i> <strong>Email :</strong>  lyujin0131@naver.com</li><br>
                        <li><i class="icofont-rounded-right"></i> <strong>Address :</strong>  경기도 하남시</li>
                    </ul>
                </div>
                  
                
            </div>
        <div>

    </body>
</html>