<!DOCTYPE html>
<html>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+KR&display=swap'); 
        @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+KR&family=Suez+One&display=swap');
       


    </style>

    <head>
        <link rel="stylesheet" href="../static/css/menu.css"/><!-- 'Lilita One', cursive;   'Suez One', serif;-->
        <title>yujin's Brain</title>
    </head>
    <body> <!-- style="background-image: url('/resources/1.jpg'); background-repeat:no-repeat; background-size: cover;" -->

        <div class="menu">
            <div class="home">Contact</div>
            <div class="menu_bar">
                <ul>
                <li>
                    <a class="a-menu" onClick="location.href='/'">home</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/aboutMe'">About Me</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/Skills'">Skills</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/Portfolio'">Portfolio</a>
                </li>
                <li style="color: rgb(255, 239, 166); opacity : 1;" >
                    <a class="a-menu" onClick="location.href='/Contact'">Contact</a>
                </li>
                </ul>
            </div>
        </div>

        <div class="">
            

        <div>

    </body>
</html>