<!DOCTYPE html>
<html>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+KR&display=swap'); 
        @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+KR&family=Suez+One&display=swap');
    </style>

    <head>
        <link rel="stylesheet" href="../static/css/menu.css"/><!-- 'Lilita One', cursive;   'Suez One', serif;-->
        <title>yujin's Brain</title>
    </head>
    <body> <!-- style="background-image: url('/resources/1.jpg'); background-repeat:no-repeat; background-size: cover;" -->

        <div class="menu">
            <div class="home">Portfolio</div>
            <div class="menu_bar">
                <ul>
                <li>
                    <a class="a-menu" onClick="location.href='/'">home</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/aboutMe'">About Me</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/Resume'">Resume</a>
                </li>
                <li style="opacity : 1; filter: brightness(1.9);" >
                    <a class="a-menu" onClick="location.href='/Portfolio'">Portfolio</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/Contact'">Contact</a>
                </li>
                </ul>
            </div>
        </div>

        <div class="portfolio">

            <h4>
                <a class="portfolio-links" href="https://github.com/DEVengersAssemble/airdnd-backend">Github Link</a>
            </h4>
            <hr>
            <h4>팀 프로젝트 - Airdnd</h4>
            <hr>
            <p>프로젝트 기간 : </p>
            <p>사용 프로그램 : </p>
            <p>사용 언어 : </p>
            <hr>
            <p>[프로젝트 설명]</p>
            <br>
            ~~~


        <div>

    </body>
</html>