<!DOCTYPE html>
<html>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+KR&display=swap'); 
        @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+KR&family=Suez+One&display=swap');
        </style>
    <head>
        <link rel="stylesheet" href="../static/css/menu.css"/><!-- 'Lilita One', cursive;   'Suez One', serif;-->
        <link rel="stylesheet" href="../static/css/resume.css"/>
        <title>yujin's Brain</title>
    </head>
    <body> <!-- style="background-image: url('/resources/1.jpg'); background-repeat:no-repeat; background-size: cover;" -->

        <div class="menu">
            <div class="home">Skills</div>
            <div class="menu_bar">
                <ul>
                <li>
                    <a class="a-menu" onClick="location.href='/'">home</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/aboutMe'">About Me</a>
                </li>
                <li style="opacity : 1; filter: brightness(1.9);">
                    <a class="a-menu" onClick="location.href='/Resume'">Resume</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/Portfolio'">Portfolio</a>
                </li>
                <li>
                    <a class="a-menu" onClick="location.href='/Contact'">Contact</a>
                </li>
                </ul>
            </div>
        </div>

        <div class="Resume">
            <div class="left">

                <div class="education">
                    <h2>education</h2>
                    <h4>동국대학교 사범대학 부속여자고등학교</h4>
                    <h5>2015.03 - 2018.02</h5>
                    <p>인문계 동대부여고 졸업</p>
                    <br>
                    <h4>서일대학교</h4>
                    <h5>2018.03 - 2022.02</h5>
                    <p>컴퓨터공학과 졸업</p>
                    (2020.03 휴학 1년)
                    <!-- 
                    대학교에서는 C#을 이용한 웹 프로그래밍 및 안드로이드 앱을 제작해 보았으며 Front End 기술에는 html,css 를 배웠으며, Back End 기술에는 c#,java를 배웠습니다. 그리고 데이터베이스로 MsSQL를 사용하였습니다.
                    Language:
                    - C#
                    - Java
                    - CSS
                    DataBase(DB):
                    - RDBMS 데이터 모델링, SQL,MsSQL
                    Project tool:
                    - Visual Studio 2019 , Android studio
                    -->
                    <br>
                    <br>
                    <h4>서일대학교 전공심화(4년제 학사)</h4>
                    <h5>2022.03 - 2023.02</h5> 
                </div>
                
                <div class="career">
                    <h2>career</h2>
                    <h4>(주) 인스웨이브 시스템즈</h4>
                    <h5>프레임워크팀</h5>
                    <h5>2021.11</h5>
                </div>
            </div>
            <div class="center"></div>
            <div class="right">
                <div class="activities_License">
                    <h2>External activities && License</h2>
                    <h4>운전면허 2종</h4>
                    <h5>2018.02</h5>
                    <br>
                    <h4>정보처리산업기사</h4>
                    <h5>2021.06</h5>
                    <br>
                    <h4>정보처리기사</h4>
                    <h5>2022.06</h5>
                    <br>
                    <h4>코리아 IT 아카데미</h4>
                    <h5>2020.03 - 2020.05</h5>
                    자바 백엔드개발자 과정 수료
                    <br>
                    <!-- 
                    주로 웹 프로그래밍에 필요한 Front End 기술에는 html,css,JavaScript(jquery),jstl,thymleaf를 배웠으며 Back End 기술에는 Java,Jsp,Spring Framwork를 배웠습니다.그리고 데이터베이스로 Mysql과 mariaDB를 사용하였습니다.
                    Language:
                    - Java : 객체지향설계, JSP, Servlet, Spring, Spring Security,JPA, Mybatis, REST API
                    - Python : Pandas, Flask
                    - Javascript : Node, Express, JQuery, ChartJS, Ajax
                    - CSS : Bootstrap
                    DataBase(DB):
                    - RDBMS 데이터 모델링, SQL, Oracle, Mysql, Mariadb
                    Project tool:
                    - Eclipst, Visual Studio Code, Git, Github, Maven
                    Cloud:
                    - Amazon Web Services, Ubuntu, Tomcat
                    -->
                </div>
            </div>

        <div>

    </body>
</html>